include ../mixins.pug

nav.header__item.main-nav
	.main-nav__buttons.main-nav__toggle
		button.main-nav__button-menu
			span.visually-hidden Меню
		button.main-nav__button-close
			span.visually-hidden Закрыть меню
	ul
		li.main-nav__item
			if(indexHtml)
				a.main-nav__link(aria-label='Главная')
					each val in ['Г', 'л', 'а', 'в', 'н', 'а', 'я']
						span= val
			else
				a.main-nav__link(aria-label='Главная', href='index.html')
					each val in ['Г', 'л', 'а', 'в', 'н', 'а', 'я']
						span= val
		li.main-nav__item.main-nav__item--submenu
			span.main-nav__submenu--mobile.link-her.arrow
			if(cathalogHtml)
				a.main-nav__link(aria-label='Для нее')
					each val in ['Д','л','я',' ','н','е','е']
						span= val
			else
				a.main-nav__link(aria-label='Для нее', href='cathalog.html')
					each val in ['Д','л','я',' ','н','е','е']
						span= val
					span.arrow
			.main-nav__submenu-wrapper.main-nav__submenu-wrapper--her
				.main-nav__submenu
					+link('accessible main-nav__submenu__accessible', 'Перейти к товарам для него', '#for-him')
					ul.main-nav__column
						li.main-nav__submenu-item
							+link('main-nav__submenu-link main-nav__submenu-link--title', 'Одежда')
						each val in ['Платья','Блузки','Футболки','Брюки','Юбки']
							li.main-nav__submenu-item
								+link('main-nav__submenu-link', ''+val, href='good.html')
					ul.main-nav__column
						li.main-nav__submenu-item
							+link('main-nav__submenu-link main-nav__submenu-link--title', 'Обувь')
						each val in ['Кроссовки','Кеды','Туфли','Балетки','Сланцы']
							li.main-nav__submenu-item
								+link('main-nav__submenu-link', ''+val, href='good.html')
					ul.main-nav__column
						li.main-nav__submenu-item
							+link('main-nav__submenu-link main-nav__submenu-link--title', 'Аксессуары')
						each val in ['Часы','Серьги','Кольца','Ожерелье','Поло']
							li.main-nav__submenu-item
								+link('main-nav__submenu-link', ''+val, href='good.html')
		li.main-nav__item.main-nav__item--submenu
			span.main-nav__submenu--mobile.link-him.arrow
			if(cathalogHtml)
				a#for-him.main-nav__link(aria-label='Для него')
					each val in ['Д','л','я',' ','н','е','г', 'о']
						span= val
			else
				a#for-him.main-nav__link(aria-label='Для него', href='cathalog.html')
					each val in ['Д','л','я',' ','н','е','г', 'о']
						span= val
					span.arrow
			.main-nav__submenu-wrapper.main-nav__submenu-wrapper--him
				.main-nav__submenu
					+link('accessible main-nav__submenu__accessible', 'Перейти к Lookbook', '#lookbook')
					ul.main-nav__column
						li.main-nav__submenu-item
							+link('main-nav__submenu-link main-nav__submenu-link--title', 'Одежда')
						each val in ['Куртки','Рубашки','Футболки','Брюки','Шорты']
							li.main-nav__submenu-item
								+link('main-nav__submenu-link', ''+val, href='good.html')
					ul.main-nav__column
						li.main-nav__submenu-item
							+link('main-nav__submenu-link main-nav__submenu-link--title', 'Обувь')
						each val in ['Кроссовки','Кеды','Туфли','Ботинки','Сланцы']
							li.main-nav__submenu-item
								+link('main-nav__submenu-link', ''+val, href='good.html')
					ul.main-nav__column
						li.main-nav__submenu-item
							+link('main-nav__submenu-link main-nav__submenu-link--title', 'Аксессуары')
						each val in ['Часы','Ремни','Кольца','Перчатки','Фуражки']
							li.main-nav__submenu-item
								+link('main-nav__submenu-link', ''+val, href='good.html')
		+menuLookbookBlog('main-nav__item', 'main-nav__link')